.page-hero {
  padding: 188px 0;
  max-width: 1440px;
  min-height: 600px;
  margin: 0 auto;
  text-align: center;
  background-color: var(--dark-color);
  @include mobile {
    padding: 112px 0;
    min-height: 432px;
  }
  @include tablet {
    padding: 112px 0;
    min-height: 436px;
  }

  background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url(../../images/main/hero/bg-img-mobile@1x.jpg);
  // retina mobile screen
  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url(../../images/main/hero/bg-img-mobile@2x.jpg);
  }

  // Tablet screen
  @media screen and (min-width: 481px) {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url(../../images/main/hero/bg-img-tablet@1X.jpg);
    // retina tablet screen
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url(../../images/main/hero/bg-img-tablet@2x.jpg);
    }
  }

  // Desktop screen
  @media screen and (min-width: 769px) {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url(../../images/main/hero/bg-img-desktop@1x.jpg);
    // retina desktop screen
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url(../../images/main/hero/bg-img-desktop@2x.jpg);
    }
  }
  // background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
  //   url('../../images/main/people-office.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.hero-container {
  margin: 0 auto;
}
/* Phone styles & > */
@media only screen and (min-width: 320px) and (max-width: 767px) {
  .hero__title {
    max-width: 320px;
    text-align: center;
    margin: 0 auto;
    @include text-style-header-2();
    color: $color-white;
  }
}
/* Tablet styles & > */
@media only screen and (min-width: 768px) {
  .hero__title {
    max-width: 496px;
    text-align: center;
    margin: 0 auto;

    @include text-style-header-1();

    color: $color-white;
  }
}
