.page-castomers {
  @include mobile {
    padding: 96px 0;
  }
  @include tablet {
    padding: 96px 0;
  }
  padding: 120px 0;
  text-align: center;
}
.page-castomers__title {
  margin-bottom: 72px;
  @include text-style-header-2();
  color: $color-navy-blue;
}
