.address__list {
  @include mobile {
    display: none;
  }
  @include tablet {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
    @include list();
  }
  @include desktop {
    display: flex;
    margin-left: auto;
    gap: 40px;
    @include list();
  }
}

.header__address {
  @include tablet-desktop {
    display: flex;
    margin-left: auto;
  }
}
.address__link {
  @include tablet {
    @include font('Roboto', 12px, 400, 14px, 0.04em, none, none);
    @include link();
    color: $color-slate;
  }
  @include desktop {
    padding-top: 24px;
    padding-bottom: 24px;
    @include font('Roboto', 16px, 400, 24px, 0.02em, none, none);
    color: $color-slate;
    transition: color $trannsition;
  }
}
.address__link:hover,
.address__link:focus {
  color: $color-ocean;
}
