.logo {
  @include center-flex(flex);
  @include font(18px, 'Raleway', 800, normal, 21px, 0.03em, none, uppercase);
  @extend %link;
  color: $color-iris;
}
.logo_color-black {
  color: $color-navy-blue;
}
.logo_color-white {
  color: $color-cloud;
}
