// @media only screen and (min-width: 320px) and (max-width: 767px) {
//   .nav__list {
//     display: none;
//   }
// }
.nav__list {
  display: none;
  @include mobile;
}
@media only screen and (min-width: 768px) {
  .nav {
    display: flex;

    @include font('Roboto', 16px, 500, 24px, 0.02em, none, none);
  }
  .nav__list {
    display: flex;
    gap: 40px;
    @include list();
    margin-left: 120px;
  }
  .nav__link {
    position: relative;
    display: flex;
    padding-top: 24px;
    padding-bottom: 24px;

    @include link();
    color: $color-navy-blue;
    transition: color $trannsition;
  }
  .nav__link_current {
    color: $color-ocean;
  }
}
@media only screen and (min-width: 1258px) {
  .nav__list {
    margin-left: 76px;
  }
  .nav__link_current {
    color: $color-ocean;
  }
  .nav__link_current::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    bottom: -1px;

    background: $color-ocean;
    color: $color-ocean;
    border-radius: 2px;
  }
  .nav__link:hover,
  .nav__link:focus {
    color: $color-ocean;
  }
}
