.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 32px;
  background-color: $color-white;
  z-index: 999;

  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
  transform: translateX(0);
}
// open menu button
.menu-toggle {
  @include mobile {
    position: absolute;
    top: 16px;
    right: 16px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    padding: 0;
    width: 32px;
    height: 22px;
    color: $color-navy-blue;
    background-size: cover;
    background-color: transparent;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    outline: none;
  }
  @include tablet-desktop {
    display: none;
  }
}
.menu-toggle__icon {
  stroke: $color-navy-blue;
}

.menu-toggle:hover,
.menu-toggle:focus {
  background-color: rgba(0, 0, 0, 0.1);
}
//close menu button
.menu-btn {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-left: auto;
  margin-bottom: 24px;

  width: 24px;
  height: 24px;

  border: 1px solid $color-cornflower;
  border-radius: 50%;
  background-color: $color-white;
  background-size: cover;
}
@media only screen and (max-width: 768px) {
  .menu__address {
    display: block;
  }
}
//mobile menu
.menu-list {
  padding: 0;
  margin: 0;
  list-style: none;
}
.menu-container_menu {
  display: flex;
  flex-direction: column;
  margin-bottom: auto;
}

.mobile-menu__link {
  display: block;
  padding: 10px;
  @include link();
  @include text-style-header-2();
  color: $color-navy-blue;
  text-decoration: none;
}
.menu__link_current {
  color: $color-ocean;
}
// contacts
.menu__contact-list {
  display: flex;
  flex-direction: column-reverse;
  @include list();
  margin-bottom: 48px;
  gap: 40px;
}
.contact-list__item {
  @include link();
}
.contact-list__link {
  @include text-style-header-3();
  color: $color-slate;
}
.contact-list__link_color-iris {
  @include text-style-header-2();
  @include link();
  color: $color-iris;
}

// social list
.menu__social-list {
  gap: 56px;
}
