// mobile
.footer {
  @include mobile;
  padding: 96px 0;
  height: 668px;
  background-color: $color-navy-blue;
  .container {
    display: flex;
    flex-wrap: wrap;
  }
}
.footer-logo {
  @include mobile;
  display: inline-block;
  align-items: center;
  justify-content: center;
  margin: 0 auto 72px auto;
}
.footer__logo {
  @include mobile {
    justify-content: center;
    margin-bottom: 16px;
  }
}

.footer-logo__text {
  width: 264px;
  @include font('Roboto', 16px, 400, 24px, 0.02em, none, none);
  color: $color-cloud;
}
.footer-social {
  @include mobile {
    display: flex;
    flex-direction: column;
    margin: 0 auto 72px auto;
  }
}
.footer-social__title {
  @include mobile {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-bottom: 16px;
    color: $color-white;
  }
}
// .footer {
//   padding: 100px 0;
//   background-color: $color-navy-blue;
//   .container {
//     display: flex;

//     align-items: baseline;
//   }
// logo
// .footer-logo {
//   display: inline-block;
//   align-items: center;
//   margin-right: 120px;
// }
// .footer__logo {
//   margin-bottom: 16px;
// }

//social
// .footer-social {
//   margin-right: 80px;
// }
// .footer-social__title {
//   margin-bottom: 16px;

//   @include text-style-body-medium();

//   color: $color-white;
// }
// .footer-list {
//   gap: 16px;
// }

// .link_color-activ:hover,
// .link_color-activ:focus {
//   background-color: $color-green;
// }

//subscrible

.footer-subscrible__title {
  @include mobile {
    margin-bottom: 16px;
    display: flex;
    justify-content: center;
    font-size: 16px;
    font-weight: 500;

    color: $color-white;
  }
}
// mobile
.subscrible-form {
  @include mobile {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 16px;
  }
}

.subscrible-label_input {
  @include mobile {
    display: inline-block;
    padding-left: 16px;
    margin: 0 auto;
    width: 398px;
    height: 40px;
    border: 1px solid $color-white;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;

    color: $color-white;
    background-color: $color-navy-blue;
  }
}
// .subscrible-form {
//   display: flex;
//   flex-wrap: wrap;
//   gap: 16px;
// }
// .subscrible-label_input {
//   display: inline-block;
//   padding-left: 16px;
//   margin-right: 24px;
//   width: 264px;
//   height: 40px;
//   border: 1px solid $color-white;
//   filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
//   border-radius: 4px;

//   color: $color-white;
//   background-color: $color-navy-blue;
//   transition: background $trannsition;
// }

// .subscrible-label_input::placeholder {
//   @include font('Roboto', 12px, 400, 24px, 0.02em, none, none);
//   color: $color-white;
// }
//button
.subscr-btn {
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 6px 24px;
  gap: 16px;

  min-width: 165px;
  height: 40px;
  /* IRIS */

  background: $color-iris;
  border-radius: 4px;
  border: none;

  color: $color-white;
  cursor: pointer;

  transition: background var(--transition-role);
}
.subscr-btn:hover,
.subscr-btn:focus {
  background-color: $color-ocean;
}

.btn-icon__svg {
  fill: currentColor;
}
