.footer {
  padding: 96px 0;
  // height: 668px;
  // @include desktop {
  //   height: 312px;
  // }
  background-color: $color-navy-blue;
  .container {
    display: flex;
    @include mobile {
      flex-wrap: wrap;
    }
  }
}

.footer__logo {
  margin-bottom: 16px;
}
.footer-logo__text {
  width: 264px;
  @include font('Roboto', 16px, 400, 24px, 0.02em, none, none);
  color: $color-cloud;
}
.footer-social__title {
  margin-bottom: 16px;
  color: $color-white;
}
.footer-subscrible__title {
  margin-bottom: 16px;

  font-size: 16px;
  font-weight: 500;

  color: $color-white;
}
// mobile
.footer-logo {
  @include mobile {
    display: inline-block;
    align-items: center;
    justify-content: center;
    margin: 0 auto 72px auto;
  }
}
.footer__logo {
  @include mobile {
    justify-content: center;
    margin-bottom: 16px;
  }
}
.footer-social {
  @include mobile {
    display: flex;
    flex-direction: column;
    margin: 0 auto 72px auto;
  }
}
.footer-social__title {
  @include mobile {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-bottom: 16px;
  }
}
// tablet
.footer {
  @include tablet {
    .container {
      display: flex;
      flex-wrap: wrap;
      padding: 0 108px;
    }
  }
}
.footer-logo {
  @include tablet {
    width: 264px;
    margin-right: 24px;
    margin-bottom: 72px;
  }
}
.footer-social__title {
  @include tablet {
    margin-bottom: 16px;
  }
}

.link_color-activ:hover,
.link_color-activ:focus {
  background-color: $color-green;
}

//subscrible
.subscrible-label_input::placeholder {
  @include font('Roboto', 12px, 400, 24px, 0.02em, none, none);
  color: $color-white;
}
// mobile
.footer-subscrible__title {
  @include mobile {
    margin-bottom: 16px;
    display: flex;
    justify-content: center;
  }
}

.footer-subscrible {
  @include mobile {
    width: 100%;
  }
}
.subscrible-form {
  @include mobile {
    display: block;
    text-align: center;
  }
}
.subscrible-label {
  @include mobile {
    display: flex;
    margin-bottom: 16px;
  }
}
.subscrible-label_input {
  @include mobile {
    padding-left: 16px;
    margin: 0 auto;
    width: 100%;
    height: 40px;
    border: 1px solid $color-white;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;

    color: $color-white;
    background-color: $color-navy-blue;
  }
}
//tablet
.footer-subscrible__title {
  @include tablet {
    margin-bottom: 16px;
  }
}
.subscrible-label_input {
  @include tablet-desktop {
    display: inline-block;
    padding-left: 16px;
    margin-right: 24px;
    width: 264px;
    height: 40px;
    border: 1px solid $color-white;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;

    color: $color-white;
    background-color: $color-navy-blue;
    transition: background $trannsition;
  }
}
//desktop
.footer-logo {
  @include desktop {
    margin-right: 120px;
  }
}
.footer-social {
  @include desktop {
    margin-right: 80px;
  }
}
.footer-subscrible {
  @include desktop {
    display: block;
  }
}
.subscrible-form {
  @include desktop {
    display: flex;
  }
}

//button
.subscr-btn {
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 6px 24px;
  gap: 16px;

  min-width: 165px;
  height: 40px;
  /* IRIS */

  background: $color-iris;
  border-radius: 4px;
  border: none;

  color: $color-white;
  cursor: pointer;

  transition: background var(--transition-role);
}
.subscr-btn:hover,
.subscr-btn:focus {
  background-color: $color-ocean;
}

.btn-icon__svg {
  fill: currentColor;
}
