body {
  @include font('Roboto', 16px, 500, 24px, 0.02em, none, none);
  color: $color-slate;
  background-color: $color-white;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul {
  padding: 0;
}

img {
  display: block;
  // max-width: 100%;
  // height: auto;
}
button,
input,
textarea {
  outline: none;
}
