$color-iris: rgba(77, 90, 229, 1);
$color-ocean: rgba(64, 75, 191, 1);
$color-navy-blue: rgba(46, 47, 66, 1);
$color-green: rgba(49, 208, 170, 1);
$color-slate: rgba(67, 68, 85, 1);
$color-light-slate: rgba(142, 143, 153, 1);
$color-cornflower: rgba(231, 233, 252, 1);
$color-cloud: rgba(244, 244, 253, 1);
$color-navy-blue-modal: rgba(46, 47, 66, 0.4);
$color-grey: rgba(46, 47, 66, 0.7);
$color-white: rgba(255, 255, 255, 1);
$color-dairy: rgba(252, 252, 252, 1);
$trannsition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
